snippet importstyleguide
@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/layers';
endsnippet
