snippet importstyleguide
@import '~@cultureamp/kaizen-component-library/styles/type';
@import '~@cultureamp/kaizen-component-library/styles/color';
@import '~@cultureamp/kaizen-component-library/styles/border';
@import '~@cultureamp/kaizen-component-library/styles/layers';
endsnippet
