snippet importstyleguide
@import '~@cultureamp/kaizen-component-library/styles/type';
@import '~@cultureamp/kaizen-component-library/styles/color';
@import '~@cultureamp/kaizen-component-library/styles/border';
@import '~@cultureamp/kaizen-component-library/styles/layers';
endsnippet

snippet importcolortokens
@import '~@cultureamp/kaizen-design-tokens/sass/color';
@import '~@cultureamp/kaizen-component-library/styles/color';
endsnippet

snippet secondarytext
add-alpha($kz-color-wisteria-800, 80%);
endsnippet

snippet text
$kz-color-wisteria-800;
endsnippet

snippet disabledtext
add-alpha($kz-color-wisteria-800, 30%);
endsnippet

snippet divider
add-alpha($kz-color-wisteria-700, 20%);
endsnippet
